<% if(subjects != null) { %>
    <% var index = 0 %>
    <% subjects.forEach(function(subject) { %>
        <a href="#" id="click<%= index %>" class="subject-sidebar-link sidebar-nav-item med-font list-group-item bg-custom" style="color: #fff;" onclick="dropdownSubject('<%= index %>')"><i class="<%= subject.icon %>" ></i> &nbsp;<%= subject.name %> <i class="mdi mdi-menu-down text-right" style="position: absolute;right: 20px;"></i></a>
        <div id="<%= index %>" class="subject-dropdown bg-white" style="display: none; border-radius: 8px !important;background-color: #fff !important;">
            <a href="" class="subject-option list-group-item list-group-item-action" style="border:none;background: none;"><i class="mdi mdi-view-quilt"></i> Overview</a>
            <a href="" class="subject-option list-group-item list-group-item-action" style="border:none;background: none;"><i class="mdi mdi-folder-multiple"></i> All Files</a>
            <a href="" class="subject-option list-group-item list-group-item-action" style="border:none;background: none;"><i class="mdi mdi-calendar-clock"></i> Important Dates</a>
            <a href="" class="subject-option list-group-item list-group-item-action" style="border:none;background: none;"><i class="mdi mdi-plus-circle-outline"></i> New File</a>
            <a href="#" onclick="deleteSubModal('<%= subject._id %>')" class="subject-option list-group-item list-group-item-action bg-white" style="border:none; color: red !important;background: none !important;"><i class="mdi mdi-delete"></i> Delete Subject</a>
        </div>
        <% index ++ %>
    <% }); %>
<% } %> 